* {
  margin: 0;
  padding: 0;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Prime";
  src: local("Prime"),
  url("../fonts/Prime-Regular.woff2") format("woff2"),
  url("../fonts/Prime-Regular.woff") format("woff");
}


.container {
  max-width: 1325px;
  margin: 0 auto;
  .header {
    @include center;
    justify-content: space-between;
      h2 {
        font-size: 3rem;
        font-family: "Prime", cursive;
      }
      position: relative;
      padding: 0 20px;
      .hamburger {
        font-size: 1.5rem;
      }
      .header__list {
        position: absolute;
        top: 30px;
        right: 0;
      }
  }
}




//header

.daily__form__container {
  border: 1px solid blue;
  height: 50vh;
  margin-top: 100px;
  @include center;
  position: relative;
  .daily__form {
    border: 1px solid green;
    input {
      width: 300px;
      height: 1.5rem;
      margin: 0 0 20px 0;
    }
    @include center;
    flex-direction: column;
    label:nth-child(1) {
      position: relative;
      left: -49px;
    }
    label:nth-child(3) {
      position: relative;
      left: -93px;
    }
    label:nth-child(5) {
      position: relative;
      left: -66px;
    }
    label:nth-child(7) {
      position: relative;
      left: -97px;
      margin-top: 50px;
    }
    label:nth-child(9) {
      position: relative;
      left: -77px;
    }
  }
}

.data__input {
  border: 1px solid red;
}

.day__summary {
  position: relative;
  height: 200px;
  border: 1px solid black;
  padding: 0 50px 0 0;
  .effectiveness-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    @include center;
    p {
      transform: rotate(90deg);
    }
  }
}

.month__summary {
  h2 {
    font-size: 2rem;
  }
}

